<div class="example">
  <div class="Header">
    <a href="https://pixabay.com/" target="_blank">
          <img
        src="https://pixabay.com/static/img/public/medium_rectangle_a.png"
        alt="Pixabay"
        width="40"
      />
    </a>
    <form class="search-form" id="search-form">
      <div class="search-box">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
          class="input-search"
        />
        <button type="submit" class="search_btn">
          <span><img src="./images/search.svg" width="10" /></span>
        </button>
      </div>
    </form>
  </div>
</div>
